<?xml version="1.0"?>
<config>
    <sections>
        <cmssync translate="label">
            <label>CMS Static Block Sync</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[status
                                <span class="notice">sync status!</span>]]>
                            </comment>
                        </enabled>
                        <source translate="label">
                            <label>Source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>cd_cmssync/system_config_source_master</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[select master if this will be the source for update, select node for host data.
                                ]]>
                            </comment>
                        </source>
                        <heading_one translate="label">
                            <label>First Node: </label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <source>1</source>
                            </depends>
                        </heading_one>
                        <urlone tranlate="label">
                            <label>First Node API url:</label>
                            <frontend_type>text</frontend_type>
                            <comment>Enter the API url for the target. Ex. http://magentoshop.com/index.php/api/v2_soap?wsdl</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>40</sort_order>
                            <depends>
                                <source>1</source>
                            </depends>
                        </urlone>
                        <usernameone translate="label">
                            <label>User Name</label>
                            <frontend_type>text</frontend_type>
                            <comment>soap user name</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>50</sort_order>
                            <depends>
                                <source>1</source>
                            </depends>
                        </usernameone>
                        <passwordone translate="label">
                            <label>API key</label>
                            <frontend_type>password</frontend_type>
                            <comment>api key</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>60</sort_order>
                            <depends>
                                <source>1</source>
                            </depends>
                        </passwordone>
                        <overrideone translate="label">
                            <label>Override data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>yes - override the source, no - skip already existing</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>70</sort_order>
                            <depends>
                                <source>1</source>
                            </depends>
                        </overrideone>
                    </fields>
                </general>
            </groups>
        </cmssync>
    </sections>
</config>